<nav class="navbar navbar-dark navbar-expand-md bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Datalogging&nbsp;<small>Watertechniek Teunissen</small></a>
        <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon"></span>
        </button>
        <div
            class="collapse navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item" role="presentation">
                    <a class="nav-link" href="/user/">Start</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" href="/user/history">Geschiedenis</a>
                </li>
            </ul>
    </div>
    </div>
</nav>